.#{$namespace}-carousel {
  --text-shadow: 1px 1px var(--color-black);
  --arrows-hover-space: calc(var(--spaces-xxs) / 2);

  $self: &;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-carousel);

  &__background {
    --bgPosition: 0;

    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;

    &:-webkit-scrollbar {
      display: none;
    }

    img {
      object-fit: contain;
      object-position: left;
      transform: translateX(var(--bgPosition));
      transition: transform 1100ms cubic-bezier(0.65,0.05,0.36,1);
      height: 100%;

      @media (orientation: landscape) {
        object-fit: cover;
      }
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__slides {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  [data-mmks-carousel-slide] {
    scroll-snap-align: start;
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: var(--color-white);
    opacity: 0;
    transition: all 400ms ease-in-out;

    &:first-child {
      align-items: flex-start;
    }

    &[data-text-to-right] {
      justify-content: flex-end;
    }
  }

  &__title {
    --margin-x-desktop: 7.2rem;
    --max-width: clamp(14rem, 32vw, 32rem);

    max-width: var(--max-width);
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: underline;
    margin-left: var(--spaces-xs);
    text-shadow: var(--text-shadow);

    @media screen and (min-width: $mq-desktop) {
      margin-left: var(--margin-x-desktop);
    }

    [data-mmks-carousel-slide]:first-child & {
      margin-left: var(--spaces-xs);
      margin-top: var(--spaces-xs);

      @media (orientation: portrait) {
        --max-width: 14rem;
      }
    }

    [data-text-to-right] & {
      margin-right: var(--spaces-xs);
      text-align: right;

      @media screen and (min-width: $mq-desktop) {
        margin-right: var(--margin-x-desktop);
      }
    }
  }

  &__text {
    position: absolute;
    bottom: var(--spaces-xs);
    left: 0;
    width: clamp(100%, 40vw, 100%);
    padding: 0 var(--spaces-xs);
    text-shadow: var(--text-shadow);
    margin: 0;

    @media screen and (min-width: $mq-laptop) {
      bottom: var(--spaces-l);
    }
  }

  [data-mmks-carousel-prev],
  [data-mmks-carousel-next] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 250ms ease-out;
    display: none;

    &[data-is-disabled] {
      opacity: 0;
      pointer-events: none;
    }

    @media screen and (min-width: $mq-desktop) {
      display: block;
    }

    svg {
      width: 4rem;
      fill: var(--color-white);
    }
  }

  [data-mmks-carousel-prev] {
    left: var(--spaces-xxs);

    &:hover {
      left: var(--arrows-hover-space);
    }

    svg {
      transform: rotate(180deg);
    }
  }

  [data-mmks-carousel-next] {
    right: var(--spaces-xxs);

    &:hover {
      right: var(--arrows-hover-space);
    }
  }

  &__footer {
    position: fixed;
    bottom: var(--spaces-xs);
    left: var(--spaces-xs);
    display: flex;
    align-items: center;

    @media (orientation: portrait) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__steps-indicator {
    color: var(--color-white);
    margin: var(--spaces-xxs) 0 0;
    opacity: 0;
    transition: opacity 250ms ease-out;
    text-shadow: var(--text-shadow);

    @media (orientation: landscape) {
      margin: 0 0 0 var(--spaces-xxs);
    }

    [data-in-slides] & {
      opacity: 1;
      transition-delay: 600ms;
    }
  }
}