.#{$namespace}-loading {
  $self: &;
  background: var(--color-black);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-loading);
  animation: fade-out 650ms 3800ms linear forwards;

  &__figure {
    text-align: center;
    animation: fade-out 250ms 3000ms ease-out forwards;
  }

  &__image {
    animation: scale-up 600ms ease-in-out backwards,
               pulse 1250ms 600ms infinite forwards;
  }

  &__label {
    background: var(--color-black);
    color: var(--color-white);
    margin-top: var(--spaces-s);
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  &__intro {
    background: var(--color-black);
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    display: inline-flex;
    animation: label-scale 300ms 300ms ease-in-out backwards,
               label-to-left 50ms 2200ms ease-out forwards;
    z-index: 10;
  }

  &__exclamation {
    white-space: nowrap;
    overflow: hidden;
    animation: exclamation 200ms 2200ms ease-in-out forwards;
  }

  &__rest {
    position: relative;
    transform: translateX(0%);
    left: -100%;
    display: inline-flex;
    animation: label-to-right 150ms 2210ms ease-out forwards;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes exclamation {
  0% {
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes label-scale {
  0% {
    transform: translateX(-50%) scale(0);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes label-to-left {
  0% {
    transform: translateX(-50%);
    left: 50%;
  }
  100% {
    transform: translateX(0);
    left: 0;
  }
}

@keyframes label-to-right {
  0% {
    left: -100%;
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    left: 0;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1) translateY(-15px);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}