.#{$namespace}-main {
  background: var(--color-black);
  color: var(--color-white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--spaces-xs);

  &__logo {
    --order: 1;

    order: var(--order);
    z-index: var(--z-index-main);

    @media screen and (min-width: $mq-tablet) {
      --order: 3;
    }

    .screen-reader-text {
      position: absolute !important;
      clip: rect(1px,1px,1px,1px);
      width: 1px;
      height: 1px;
      overflow: hidden;
    }

    .svg-logo-mm {
      --width: 4rem;
      --y: -1rem;

      fill: var(--color-white);
      width: var(--width);
      transform: translate(0, var(--y));

      @media screen and (min-width: $mq-tablet) {
        --width: 8rem;
        --y: 2rem;
      }
    }
  }

  &__title {
    --order: 3;

    order: var(--order);
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 1px solid var(--color-white);

    @media screen and (min-width: $mq-tablet) {
      --order: 1;
    }
  }

  &__content {
    --order: 2;

    order: var(--order);
    text-align: right;
    color: var(--color-white);

    p {
      margin-top: 0;

      a {
        text-decoration: underline;
      }
    }
  }

  &__nav {
    a {
      margin-left: var(--spaces-xxs);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}