@font-face {
  font-family: 'KlavikaBold';
  src:  url('/dist/assets/fonts/klavika-bold-webfont.woff') format('woff')
}

@font-face {
  font-family: 'KlavikaLight';
  src:  url('/dist/assets/fonts/klavika-light-webfont.woff') format('woff')
}

@font-face {
  font-family: 'KlavikaMedium';
  src:  url('/dist/assets/fonts/klavika-medium-webfont.woff') format('woff')
}

@font-face {
  font-family: 'KlavikaRegular';
  src:  url('/dist/assets/fonts/klavika-regular-webfont.woff') format('woff')
}